@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand/Quicksand-Regular.eot");
    src: local("☺"), url("../fonts/quicksand/Quicksand-Regular.woff") format("woff"),
        url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype"),
        url("../fonts/quicksand/Quicksand-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand/Quicksand-Bold.eot");
    src: local("☺"), url("../fonts/quicksand/Quicksand-Bold.woff") format("woff"),
        url("../fonts/quicksand/Quicksand-Bold.ttf") format("truetype"),
        url("../fonts/quicksand/Quicksand-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito/Nunito-SemiBold.eot");
    src: local("☺"), url("../fonts/nunito/Nunito-SemiBold.woff") format("woff"),
        url("../fonts/nunito/Nunito-SemiBold.ttf") format("truetype"),
        url("../fonts/nunito/Nunito-SemiBold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito/Nunito-Bold.eot");
    src: local("☺"), url("../fonts/nunito/Nunito-Bold.woff") format("woff"),
        url("../fonts/nunito/Nunito-Bold.ttf") format("truetype"), url("../fonts/nunito/Nunito-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito/Nunito-ExtraBold.eot");
    src: local("☺"), url("../fonts/nunito/Nunito-ExtraBold.woff") format("woff"),
        url("../fonts/nunito/Nunito-ExtraBold.ttf") format("truetype"),
        url("../fonts/nunito/Nunito-ExtraBold.svg") format("svg");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito/Nunito-Black.eot");
    src: local("☺"), url("../fonts/nunito/Nunito-Black.woff") format("woff"),
        url("../fonts/nunito/Nunito-Black.ttf") format("truetype"),
        url("../fonts/nunito/Nunito-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "vetcare";
    src: url("../fonts/vetcare/vetcare.ttf?cc7oxn") format("truetype"),
        url("../fonts/vetcare/vetcare.woff?cc7oxn") format("woff"),
        url("../fonts/vetcare/vetcare.svg?cc7oxn#vetcare") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


